*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-size: 18px;
    letter-spacing: 1px;
    width: 100%;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
}

#container{
    border-radius: 25px;
    background: #DBD9D8;
    width: 100%;
    height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container form{
    background: #FFFFFF;
    width: 500px;
    padding: 10px;
}

#container form img {
    height: 100px;
    margin: 15px auto;
    text-align: center;
    display: block;
}

#container form input{
    width: 100%;
    padding: 5px;
    font-size: 16pt;
    display: block;
    margin: 25px auto;
    border-radius: 5px;
    border: 1px solid #CCC;
}

#container form input[type="submit"]{
    background: #25A3FF;
    padding: 10px;
    color: #FFFFFF;
    letter-spacing: 1px;
    cursor: pointer;

}

.alert{
    font-size: 16px;
    text-align: center;
}


